
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Cadastrar um novo usuário", "Cadastro")
</p>
<p>
    @Html.ActionLink("Fazer login", "Login")
</p>

